ion-header{
    ion-item{
        ion-icon{
            margin-left: 10px;
            font-size: 1.9rem;
        }
    }
}
h2{
    font-size: bold !important;
    font-size: 1.3rem;
    font-weight: 550;
}