<ion-header> 
  <ion-toolbar> 
    <ion-title color="primary"> Payment </ion-title> 
      <ion-button slot="start" > 
        <ion-back-button defaultHref="backToCart()" >Back</ion-back-button> 
      </ion-button> 
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list-header class="dashedBorderBottom">
    <h2>Make Your Payment Below</h2>
  </ion-list-header>
    <ion-item>
      <ion-list>
        <ion-row>
          <ion-img></ion-img>
          <h5>UPI</h5>
        </ion-row>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-row>
          <h5>Net Banking</h5>
        </ion-row>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-row>
          <h5>Card Options</h5>
        </ion-row>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-row>
          <h5>COD</h5>
        </ion-row>
      </ion-list>
    </ion-item>

</ion-content>
